@model IEnumerable<SistemaUniversidadv1._0.Models.MATERIA>

<h2>Materias Asignadas</h2>
<table>
    <thead>
        <tr>
            <th>Materia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var materia in Model)
        {
            <tr>
                <td>@materia.nombre_materia</td>
                <td>
                    <a href="@Url.Action("ExamenesPorMateria", "EstudianteMateriaExamen", new { materiaId = materia.id_materia })">Ver Exámenes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
