@{
    ViewBag.Title = "Pantalla Principal";
}

<main class="container mt-5 text-center">
    <!-- Encabezado principal -->
    <section>
        <h1 class="display-4">Bienvenido al Sistema de Gestión Universitaria</h1>
        <p class="lead">Accede a las funcionalidades del sistema desde el menú.</p>
    </section>
</main>
